{% extends "base.html" %}

{% block headlines %}
Login
{% endblock %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login.</p>
    {% endif %}
{% endif %}

<form method="post" >
{% csrf_token %}
{{ form.as_p }}

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}