
	body {font-size: 80%;}
	table { width: 100%;table-layout: fixed}
	td { border: 1px solid black;}
	h4 { text-align: center}
	li { list-style: none; margin: 1em; margin-left: -23pt; text-align: left}
	